<footer>
    <div class="f-info">
        <div class="f-socialmedia mt-3">
            <a><i class="fa-brands fa-facebook"></i></a>
            <a><i class="fa-brands fa-x-twitter"></i></a>
            <a><i class="fa-brands fa-instagram"></i></a>
             
        </div>
        <div class="f-support">
            <h4>Support</h4>
            <a href="/about">Help Center</a>
            <br />
            <a href="/about">Air Cover</a>
            <br />
            <a href="/about">Anti-Discrimination</a>
            <br />
            <a href="/about">Disability Support</a>
            <br />
            <a href="/about">Cancellation Options</a>
            <br />
            <a href="/about">Report Neighbouhood concern</a>
            <br />
        </div>
        <div class="f-hosting">
            <h4>Hosting</h4>
            <a href="/hosting">Airbnb your home</a>
            <br />
            <a href="/hosting">AirCover for Hosts</a>
            <br />
            <a href="/hosting">Hosting resources</a>
            <br />
            <a href="/hosting">Community forum</a>
            <br />
            <a href="/hosting">Join a free Hosting class</a>
            <br />
            <a href="/hosting">Find a co‑host</a>
            <br />
        </div>
        <div class="f-airbnb">
            <h4>Airbnb</h4>
            <a href="/airbnb">Newsroom</a>
            <br />
            <a href="/airbnb">Careers</a>
            <br />
            <a href="/airbnb">New features</a>
            <br />
            <a href="/airbnb">Investors</a>
            <br />
            <a href="/airbnb">Airbnb.org emergency stays</a>
            <br />
        </div>
        <hr width="100%" size="2">
        <div class="f-info-brand">&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/about">About Us</a>&nbsp;&nbsp;
            <a href="/contact">Contact Us</a>&nbsp;&nbsp;
            <a href="/terms">Terms of Use</a>&nbsp;&nbsp;
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>